html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #2c2c54;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  label {
    color: #2c2c54;
  }
  
    
  .Form {
   
   
    width: 100%;
    max-width: 480px;
    border-radius: 8px;
    padding: 1rem 0.5rem;
    background: white;
  }
  
  .Form_weight {
    width: 50%;
    height: 3rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  .Form_input {
    width: 5%;
    height: 3rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
 
  .Result {
    margin-top: 1rem;
    border-top: 2px solid #2c2c54;
    width: 80%;
    color: #333;
    text-align: center;
  }
  